<% include partials/header %>
<style type="text/css">
            
            body{
                background:url(http://2.bp.blogspot.com/-ZeE2YpXgnyY/TWYtGR1XxyI/AAAAAAAAAAM/Son6yn91QLE/s1600/motivational.jpg);
                background-size:cover;
                background-position:center;
                background-repeat:no-repeat;
            }
            .container{
                width: 0;
                padding:530px 0;
            }
</style>
     
      <div class="container">
           <a class="btn btn-lg btn-success" href="/exams">Get Started</a>
       </div>  
            

<% include partials/footer %>